.dot {
  height: 1rem;
  width: 1rem;
  background-color: #bbb;
  border-radius: 50%;
  stroke: black;
  stroke-width: 1rem;
  display: inline-block;
}
#statusbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.statuselement {
  display: grid;
  grid-template-rows: auto auto;
}
.statuselement p {
  justify-self: center;
}
.statuselement span {
  justify-self: center;
}
